*{
    font-family: sans-serif;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

body,html{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
}

.container{
    position: relative;
    height: 100%;
    width: 100%;
}

.header{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-right: 1px solid black;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    border-radius: 0 0 50px 50px;
    background-color: #373435;
}

.subpage{
    height: 50px;
    min-width: 200px;
    background-color: #ed3237;
    border: 1px solid black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    transition: 0.25s;
    color: white;
}

.subpage:hover{
    cursor: pointer;
    background-color: #bb272c;
}

.middle{
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact > img{
    aspect-ratio: 1/1;
    height: 250px;
    transition: 0.25s;
}

.contact:hover > img{
    height: 300px;
}
.icon-link{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px 10px;
    text-decoration: none;
    color: #a5a2a3;
}